/* megscholl1.github.io 
START: FIRST PROJECT JANUARY 4, 2018
COMPLETE: 

*/

header {
 text-align: center;
 color: rgb(17, 150, 194);
 background-color:;
 border: dotted rgba(112, 49, 128, 0.925) 3px;
 padding: 2em;
}

nav {
    font-variant: small-caps;
    color: grey;
    text-decoration: underline;
    text-decoration-color: black;
    font-family: sans-serif;
}

main {

}

section {

}

aside {

}

a {
    
}