/* megscholl1.github.io 
START: FIRST PROJECT JANUARY 4, 2018
COMPLETE: 

*/

header {
 text-align: center;
 background-color: white;
 color: rgb(17, 150, 194);
 border: dotted rgba(112, 49, 128, 0.925) 3px;
}

nav {
    font-variant: small-caps;
    text-decoration: underline;
    text-decoration-color: black;
    font-family: sans-serif;
    font-size: 16px;
}

footer {
    background-color: bisque;
    padding: 1em;
    text-align: center;
    font-size: small;
}

/* DIV CLASSES */
.container {
    background-color: grey;
}

.main-photo {
    display: block;
    text-align: center;
}

.flex-container {
    display: flex;
    display: -webkit-flex;
    width: 100%;
}

.flex-section {

}

.flex-item {
    margin: 1em;
}